<div class="experiance">
  <div class="container experience-container">
    <div class="title-wrapper">
      <h3>Experience</h3>
      <h2>My Experience</h2>
    </div>
    <div class="experiance-list-wrapper">
      <!-- <ul class="experiance-list">
        <li class="experiance-list-item">
          <div class="item-main-info-wrapper">
          <div class="date-wrapper">
            <p>04/2023 - CURRENT</p>
            <p>CHALLENGE.DAY (non-profit) </p>
          </div>
          <h2>CO-FOUNDER / BUSINESS DEVELOPER</h2>
        </div>
          <p>Successful creation and launch of applications operating in the Web 3 sphere, including innovative solutions based on blockchain technology.
Implementation of smart contracts and decentralized applications (dApps) to ensure data security and transparency.
Development and deployment of Telegram bots to automate user interaction processes. Creation of mini-applications for Telegram clickers and claimers.
Successful recruitment and coordination of a team of more than 30 people, including developers, testers, and influencers, motivated to work for the idea.
Effective management of project development, including planning, task distribution, and performance monitoring.
Ensuring adherence to deadlines and quality of work, conducting regular meetings and updates for the team.</p>
          <button><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
  <path d="M6.66669 20H33.3334" stroke="#141313" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M20 6.66699V33.3337" stroke="#141313" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg></button>
        </li>
      </ul> -->

      <ul class="experiance-list">
  <li class="experiance-list-item"> <div class="date-wrapper">
        <p>04/2023 - CURRENT</p>
        <p>CHALLENGE.DAY (non-profit) </p>
      </div>
    <div class="item-main-info-wrapper">

      <h2 class="collapsible-header">CO-FOUNDER / BUSINESS DEVELOPER</h2>

    <p class="collapsible-content">Successful creation and launch of applications operating in the Web 3 sphere, including innovative solutions based on blockchain technology. <br/>
       Implementation of smart contracts and decentralized applications (dApps) to ensure data security and transparency. Development and deployment of Telegram bots to automate user interaction processes. <br/>
        Creation of mini-applications for Telegram clickers and claimers. <br/>
        Successful recruitment and coordination of a team of more than 30 people, including developers, testers, and influencers, motivated to work for the idea. <br/>
         Effective management of project development, including planning, task distribution, and performance monitoring. <br/>
          Ensuring adherence to deadlines and quality of work, conducting regular meetings and updates for the team.</p>
    <button class="collapsible-button">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
        <path d="M6.66669 20H33.3334" stroke="#141313" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M20 6.66699V33.3337" stroke="#141313" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>   </div>
  </li>
</ul>



    </div></div>
  </div>
</div>
