<footer class="footer">
  <div class="container footer-container">
    <p class="footer-desc">
      Copyright ©2025 Gleb Vashkevich. All rights reserved.
    </p>
    <div class="list-wrapper">
      <svg
        class="icon-social-row"
        xmlns="http://www.w3.org/2000/svg"
        width="131"
        height="2"
        viewBox="0 0 131 2"
        fill="none"
      >
        <path opacity="0.3" d="M131 0.999993L0 1" stroke="white" />
      </svg>
      <ul class="social-list">
        <li class="social-list-item">
          <a
            href="https://www.linkedin.com/in/gleb-vashkevich/"
            target="_blank"
            aria-label="LinkedIn"
          >
            <svg class="header-icon">
              <use href="/img/symbol-defs.svg#icon-linkedin2"></use>
            </svg>
          </a>
        </li>

        <li class="social-list-item">
          <a
            href="https://t.me/gleb-vashkevich"
            target="_blank"
            aria-label="telegram"
          >
            <svg class="header-icon">
              <use href="/img/symbol-defs.svg#icon-telegram" />
            </svg>
          </a>
        </li>
        <li class="social-list-item">
          <a
            href="https://www.instagram.com/gleb.finup/profilecard/?igsh=bGl4am1qdW43ZHg2"
            target="_blank"
            aria-label="instagram"
          >
            <svg class="header-icon">
              <use href="/img/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <!-- <li class="social-list-item"> <svg class="header-icon" >
            <use href="/img/symbol-defs.svg#icon-facebook"></use>
          </svg></li>
          <li class="social-list-item"> <svg class="header-icon" >
            <use href="/img/symbol-defs.svg#icon-tiktok"></use>
          </svg></li> -->
      </ul>
    </div>
  </div>
</footer>
