<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav-logo" href="./index.html" aria-label="Site logo"> GV. </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link  " href="./index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="./about.html">About</a>
        </li>
        <li class="nav-item">
           <a class="nav-link " href="./projects.html">Projects</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link " href="./experience.html">Experience</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link " href="/about.html">Blog</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link " href="./contact.html">Contact</a>
        </li>

      </ul>

      <!-- burger menu -->
       <button class="burger-menu" aria-label="Open menu">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="14" viewBox="0 0 26 14" fill="none">
          <path d="M1 0.999023L25 1.00091" stroke="white" stroke-width="2" stroke-linecap="round" />
          <path d="M1 12.999L25 13.0009" stroke="white" stroke-width="2" stroke-linecap="round" />
        </svg>
      </button>

    </nav>


      <!-- mobile nav -->
      <div class="burger-overlay">
        <!-- <div class="container"> -->
    <button class="close-menu" aria-label="Close menu">
      <!-- Иконка закрытия -->
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
        <path d="M11 11L28 28" stroke="white" stroke-width="2" stroke-linecap="round" />
        <path d="M11 28L28 11" stroke="white" stroke-width="2" stroke-linecap="round" />
      </svg>
    </button>
    <a class="nav-logo-mobile" href="./index.html" aria-label="Site logo"> GV. </a>
    <ul class="burger-nav-list">
      <li><a class="nav-link" href="./index.html">Home</a></li>
      <li><a class="nav-link" href="./about.html">About</a></li>
      <li><a class="nav-link" href="./projects.html">Projects</a></li>
      <li><a class="nav-link" href="./experience.html">Experience</a></li>
      <li><a class="nav-link" href="./contact.html">Contact</a></li>
    </ul>
    <ul class="burger-social-list">
      <li class="burger-social-list-item"><a href="#" aria-label="LinkedIn"><svg class="header-icon"><use href="/img/symbol-defs.svg#icon-linkedin2"></use></svg></a></li>
      <li class="burger-social-list-item"><a href="#" aria-label="Telegram"><svg class="header-icon"><use href="/img/symbol-defs.svg#icon-telegram"></use></svg></a></li>
      <li class="burger-social-list-item"><a href="#" aria-label="Instagram"><svg class="header-icon"><use href="/img/symbol-defs.svg#icon-instagram"></use></svg></a></li>
    </ul>
  </div>

</header>
