<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav-logo" href="/index.html" aria-label="Site logo"> GV. </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link " href="/index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/about.html">About</a>
        </li>
        <li class="nav-item">
           <a class="nav-link " href="/projects.html">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/experience.html">Experience</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link " href="/about.html">Blog</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link " href="/contact.html">Contact</a>
        </li>

      </ul>

    </nav>
    <ul class="social-list">
        <li class="social-list-item"> <svg class="header-icon" >
            <use href="/img/symbol-defs.svg#icon-linkedin2"></use>
          </svg></li>
          <li class="social-list-item"> <svg class="header-icon" >
            <use href="/img/symbol-defs.svg#icon-telegram"></use>
          </svg></li>
           <li class="social-list-item"> <svg class="header-icon" >
            <use href="/img/symbol-defs.svg#icon-instagram"></use>
          </svg></li>
           <li class="social-list-item"> <svg class="header-icon" >
            <use href="/img/symbol-defs.svg#icon-facebook"></use>
          </svg></li>
          <li class="social-list-item"> <svg class="header-icon" >
            <use href="/img/symbol-defs.svg#icon-tiktok"></use>
          </svg></li>
      </ul>

</header>
