<div class="projects">
  <div class="projects-container container">
    <div class="title-wrapper">
      <h3>Projects</h3>
      <h2>Recent project</h2>
    </div>
    <div class="projects-wrapper">
      <ul class="projects-list">
        <li class="projects-list-item">
          <a
            href="https://miomi.game/"
            target="_blank"
            aria-label="Miomi-game Project"
          >
            <div class="projects-list-item-text-wrapper">
              <div class="role-project-wrapper">
                <h3>Advisor</h3>
                <p>MIOMI</p>
              </div>
              <button class="project-btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="64"
                  height="64"
                  viewBox="0 0 64 64"
                  fill="none"
                >
                  <rect width="64" height="64" fill="white" />
                  <path
                    d="M24.0002 12.8008V17.9208H40.8706L11.2002 47.5912L14.8098 51.2008L44.4802 21.5304V38.4008H49.6002V12.8008H24.0002Z"
                    fill="#141313"
                  />
                </svg>
              </button>
            </div>
            <img
              src="/img/miomi.jpg"
              alt=""
              class="project-img"
              width="315px"
              height="248px"
            />
          </a>
        </li>
        <li class="projects-list-item">
          <a
            href="https://daodiseo.estate/"
            target="_blank"
            aria-label="DAODISEO Project"
          >
            <div class="projects-list-item-text-wrapper">
              <div class="role-project-wrapper">
                <h3>Advisor</h3>
                <p>DAODISEO</p>
              </div>
              <button class="project-btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="64"
                  height="64"
                  viewBox="0 0 64 64"
                  fill="none"
                >
                  <rect width="64" height="64" fill="white" />
                  <path
                    d="M24.0002 12.8008V17.9208H40.8706L11.2002 47.5912L14.8098 51.2008L44.4802 21.5304V38.4008H49.6002V12.8008H24.0002Z"
                    fill="#141313"
                  />
                </svg>
              </button>
            </div>
            <img
              src="/img/dao.jpg"
              alt=""
              class="project-img"
              width="315px"
              height="248px"
            />
          </a>
        </li>

        <li class="projects-list-item">
          <a
            href="https://challenge.day/"
            target="_blank"
            aria-label="Challenge"
          >
            <div class="projects-list-item-text-wrapper">
              <div class="role-project-wrapper">
                <h3>CO-FOUNDER</h3>
                <p>CHALLENGE</p>
              </div>
              <button class="project-btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="64"
                  height="64"
                  viewBox="0 0 64 64"
                  fill="none"
                >
                  <rect width="64" height="64" fill="white" />
                  <path
                    d="M24.0002 12.8008V17.9208H40.8706L11.2002 47.5912L14.8098 51.2008L44.4802 21.5304V38.4008H49.6002V12.8008H24.0002Z"
                    fill="#141313"
                  />
                </svg>
              </button>
            </div>
            <img
              src="/img/challenge.JPG"
              alt=""
              class="project-img"
              width="315px"
              height="248px"
            />
          </a>
        </li>

        <li class="projects-list-item">
          <a href="https://finup24.com/" target="_blank" aria-label="FinUp">
            <div class="projects-list-item-text-wrapper">
              <div class="role-project-wrapper">
                <h3>Deputy Director</h3>
                <p>FinUp</p>
              </div>
              <button class="project-btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="64"
                  height="64"
                  viewBox="0 0 64 64"
                  fill="none"
                >
                  <rect width="64" height="64" fill="white" />
                  <path
                    d="M24.0002 12.8008V17.9208H40.8706L11.2002 47.5912L14.8098 51.2008L44.4802 21.5304V38.4008H49.6002V12.8008H24.0002Z"
                    fill="#141313"
                  />
                </svg>
              </button>
            </div>
            <img
              src="/img/finup.JPG"
              alt=""
              class="project-img"
              width="315px"
              height="248px"
            />
          </a>
        </li>

        <li class="projects-list-item">
          <a
            href="https://gojammin.com/en/events/warsaw"
            target="_blank"
            aria-label="GoJammin"
          >
            <div class="projects-list-item-text-wrapper">
              <div class="role-project-wrapper">
                <h3>Advisor</h3>
                <p>GoJammin</p>
              </div>
              <button class="project-btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="64"
                  height="64"
                  viewBox="0 0 64 64"
                  fill="none"
                >
                  <rect width="64" height="64" fill="white" />
                  <path
                    d="M24.0002 12.8008V17.9208H40.8706L11.2002 47.5912L14.8098 51.2008L44.4802 21.5304V38.4008H49.6002V12.8008H24.0002Z"
                    fill="#141313"
                  />
                </svg>
              </button>
            </div>
            <img
              src="/img/GoJamin.png"
              alt=""
              class="project-img"
              width="315px"
              height="248px"
            />
          </a>
        </li>

        <li class="projects-list-item">
          <a
            href="        https://t.me/be_whale_bot/app
"
            target="_blank"
            aria-label="bewhale"
          >
            <div class="projects-list-item-text-wrapper">
              <div class="role-project-wrapper">
                <h3>Advisor</h3>
                <p>Xordex</p>
              </div>
              <button class="project-btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="64"
                  height="64"
                  viewBox="0 0 64 64"
                  fill="none"
                >
                  <rect width="64" height="64" fill="white" />
                  <path
                    d="M24.0002 12.8008V17.9208H40.8706L11.2002 47.5912L14.8098 51.2008L44.4802 21.5304V38.4008H49.6002V12.8008H24.0002Z"
                    fill="#141313"
                  />
                </svg>
              </button>
            </div>
            <img
              src="/img/ORDEX.png"
              alt=""
              class="project-img"
              width="315px"
              height="248px"
            />
          </a>
        </li>

        <li class="projects-list-item">
          <a
            href="        https://xordex.io/
"
            target="_blank"
            aria-label="xordex"
          >
            <div class="projects-list-item-text-wrapper">
              <div class="role-project-wrapper">
                <h3>Consultant</h3>
                <p>BeWhale</p>
              </div>
              <button class="project-btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="64"
                  height="64"
                  viewBox="0 0 64 64"
                  fill="none"
                >
                  <rect width="64" height="64" fill="white" />
                  <path
                    d="M24.0002 12.8008V17.9208H40.8706L11.2002 47.5912L14.8098 51.2008L44.4802 21.5304V38.4008H49.6002V12.8008H24.0002Z"
                    fill="#141313"
                  />
                </svg>
              </button>
            </div>
            <img
              src="/img/bewhale.jpg"
              alt=""
              class="project-img"
              width="315px"
              height="248px"
            />
          </a>
        </li>
      </ul>
      <!-- <button class="load-more-btn">
        Load more
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <rect width="24" height="24" fill="url(#paint0_linear_1_241)" />
          <path
            d="M9.0002 4.80078V6.72078H15.3266L4.2002 17.8472L5.5538 19.2008L16.6802 8.07438V14.4008H18.6002V4.80078H9.0002Z"
            fill="white"
          />
          <defs>
            <linearGradient
              id="paint0_linear_1_241"
              x1="22.638"
              y1="16.8886"
              x2="1.86848"
              y2="16.8323"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#FFB147" />
              <stop offset="0.520264" stop-color="#FF6C63" />
              <stop offset="1" stop-color="#B86ADF" />
            </linearGradient>
          </defs>
        </svg>
      </button> -->
    </div>
  </div>
</div>
