.header {
  padding: 20px 60px;
  border-right: 1px solid rgba(20, 19, 19, 0.1);
  background: #141313;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: 'IBM Plex Serif';
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 250px;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}
/* .nav-link {
  position: relative;
  display: block;
  letter-spacing: 0.02em;
  transition: 200ms ease-in;
  color: #fff;
  text-align: center;
  font-family: 'IBM Plex Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
/* text-transform: uppercase;
  z-index: 10;
} */

/* .nav-link.active {
  font-weight: 700; /* Жирный шрифт для активного элемента */
/* }

.nav-link:hover,
.nav-link:focus {
  color: #b883af;
}


.nav-link.active::after {
  content: '';
  position: absolute;
  bottom: 45%;
  left: 50%;
  transform: translateX(-50%);
  width: 120%;
  height: 4px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="60" height="5" viewBox="0 0 60 5" fill="none"><path d="M0.863281 2.66075L59.032 2.66075" stroke="url(%23paint0_linear_704_39)" stroke-width="4"/><defs><linearGradient id="paint0_linear_704_39" x1="55.7309" y1="3.36444" x2="6.61389" y2="-4.38403" gradientUnits="userSpaceOnUse"><stop stop-color="%23FFB147"/><stop offset="0.520264" stop-color="%23FF6C63"/><stop offset="1" stop-color="%23B86ADF"/></linearGradient></defs></svg>')
    no-repeat center;
  background-size: contain;
  z-index: -10;
}  */

/* ------------------------------ */

.nav-link {
  position: relative;
  display: block;
  letter-spacing: 0.02em;
  transition: 200ms ease-in;
  color: #fff;
  text-align: center;
  font-family: 'IBM Plex Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  text-transform: uppercase;
  z-index: 10;
}

.nav-link.active {
  font-weight: 700; /* Жирный шрифт для активного элемента */
}

.nav-link.active::after {
  content: '';
  position: absolute;
  bottom: 45%; /* Расстояние от текста до подчёркивания */
  left: 50%;
  transform: translateX(-50%);
  width: 120%; /* Ширина SVG */
  height: 4px; /* Высота SVG */
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="60" height="5" viewBox="0 0 60 5" fill="none"><path d="M0.863281 2.66075L59.032 2.66075" stroke="url(%23paint0_linear_704_39)" stroke-width="4"/><defs><linearGradient id="paint0_linear_704_39" x1="55.7309" y1="3.36444" x2="6.61389" y2="-4.38403" gradientUnits="userSpaceOnUse"><stop stop-color="%23FFB147"/><stop offset="0.520264" stop-color="%23FF6C63"/><stop offset="1" stop-color="%23B86ADF"/></linearGradient></defs></svg>')
    no-repeat center;
  background-size: contain; /* Убедимся, что SVG подстраивается */
  z-index: -10;
}

/* ----------------------- */

.social-list {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.social-list-item {
  background-color: #fff;
  border-radius: 50%; /* Круглая форма */
  flex-shrink: 0;
  padding: 5px;
  display: flex; /* Центрирование иконки */
  align-items: center;
  justify-content: center;
  width: 40px; /* Размер круга */
  height: 40px; /* Размер круга */
  overflow: hidden; /* Удаляет всё, что выходит за границы круга */
}

.header-icon {
  fill: #141313;
  max-height: 20px; /* Максимальная высота равна родителю */
  max-width: 20px; /* Максимальная ширина равна родителю */
  width: auto; /* Сохраняет пропорции */
  height: auto; /* Сохраняет пропорции */
}
