/* Mobile-first styles */
.header {
  padding: 20px 20px;
  border-right: none;
  background: #141313;
}

.header .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  gap: 20px;
}

.nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: 'IBM Plex Serif';
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.nav-list {
  display: none; /* Скрыто для мобильных */
}

.burger-menu {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.burger-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Изменено с 100vw, чтобы учитывать отступы */
  height: 100vh;
  background: black;
  color: white;
  z-index: 999;
  padding: 60px;
  box-sizing: border-box; /* Учитываем паддинги в ширине */
  flex-direction: column;
  align-items: flex-start;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.burger-overlay.active {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.nav-logo-mobile {
  margin-bottom: 60px;
  color: #fff;
  text-align: center;
  font-family: 'IBM Plex Serif';
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.burger-nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  margin-bottom: 70px;
}

.nav-item {
  z-index: 2;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'IBM Plex Sans';
}

.burger-social-list {
  list-style: none;
  display: flex;
  gap: 16px;
  justify-content: center; /* Центрируем иконки */
  align-items: center; /* Вертикальное выравнивание */
  padding: 0;
  margin: 0;
}

.burger-social-list li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  flex-shrink: 0;
  padding: 5px;
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.burger-social-list-item a {
  display: flex; /* Убираем влияние текста и отступов */
  justify-content: center;
  align-items: center;
  text-decoration: none; /* Убираем подчеркивание */
  margin: 0; /* Убираем отступы */
  padding: 0; /* Убираем внутренние отступы */
}
.header-icon {
  fill: #141313;
  max-height: 20px;
  max-width: 20px;
  width: auto;
  height: auto;
}

.social-list-item {
  display: none;
}

.social-list {
  display: none; /* Скрываем социальный список на мобильных устройствах */
}

.burger-social-list-item {
  border-radius: 100%;
  background-color: #fff;
  width: 40px;
  height: 40px;
}
.close-menu {
  position: absolute;
  right: 60px;
}

/* active URL */

.nav-link.active {
  font-weight: 700;
  position: relative;
}

.nav-link.active::after {
  content: ''; /* Creates the pseudo-element */
  position: absolute; /* Positions the pseudo-element relative to the parent */
  bottom: 10px; /* Places the pseudo-element below the text */
  left: 50%; /* Centers the pseudo-element horizontally */
  transform: translateX(-50%); /* Ensures exact centering */
  width: 73px; /* Sets the width of the pseudo-element */
  height: 4px; /* Sets the height of the pseudo-element */
  background: linear-gradient(
    90deg,
    #ffb147,
    #ff6c63,
    #b86adf
  ); /* Adds a gradient */
  display: block; /* Allows width and height to take effect */
  z-index: 1; /* Ensures it's on top of other content */
}

/** Desktop styles **/
@media screen and (min-width: 1440px) {
  .nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
  }

  .burger-menu {
    display: none;
  }

  .social-list {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .social-list {
    display: flex; /* Отображаем социальный список на десктопе */
    flex-direction: row;
    gap: 12px;
  }

  .header {
    padding: 20px 60px;
    border-right: 1px solid rgba(20, 19, 19, 0.1);
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav {
    flex-direction: row;
  }

  .nav-logo {
    margin-right: 250px;
  }
}
