.home-container {
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-info-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  margin-bottom: 20px;
  /* gap: 24px; */
  h1 {
    font-size: 36px;
    line-height: 41px;
    z-index: 10;
    color: #141313;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    span {
      font-weight: 700;
    }
  }

  h2 {
    color: #141313;
    font-family: 'IBM Plex Sans';
    font-size: 15px;
    font-style: italic;
    font-weight: 700;
    line-height: 32px; /* 100% */
    letter-spacing: -0.96px;
    text-align: center;

    span {
      font-style: normal;
      font-weight: 400;
    }
  }
}

.text-info-svg {
  position: absolute;
  width: 300px;
  height: 100px;
  top: -30px;
  left: -100px;
  transform: rotate(355deg);
  flex-shrink: 0;
}

.home-btn {
  display: inline-flex;
  gap: 8px;
  height: 45px;
  width: 100%;
  padding: 18px 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  background: #141313;
  border: none;
  color: #fff;
  font-family: 'IBM Plex Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  margin-top: 15px;
}

.img-info-wrapper {
  position: relative;
}

.profile-img {
  width: 280px;
  height: 330px;
  flex-shrink: 0;
}

/** Desktop styles **/
@media screen and (min-width: 1440px) {
  .home-container {
    padding: 100px 60px;
    flex-direction: row;
  }
  .text-info-wrapper {
    gap: 24px;
    align-items: flex-start;
    h1 {
      text-align: left;
      /* font-size: 50px;
      line-height: 50px; 100% */
      font-size: 102px;
      line-height: 90px;
    }
    h2 {
      font-size: 32px;
      text-align: left;
    }
  }
  /* .text-info-svg {
    position: absolute;
    top: 300px;
    left: -50px;
  } */

  .profile-img {
    width: 660px;
    height: 720px;
    flex-shrink: 0;
  }

  .home-btn {
    margin-top: 24px;
    font-size: 18px;
    height: 56px;
    width: 360px;
  }
}
